.social {
  display: flex;

  &__item {
    margin-right: 24px;

    @include mobile-l {
      margin-right: 20px;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    display: block;
    width: 41px;
    height: 41px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    &--facebook {
      background-image: url('../images/design/icons/fb.png');
    }

    &--linkedin {
      background-image: url('../images/design/icons/in.png');
    }
  }
}
