<a class="logo {{#if mod}}logo--{{mod}}{{/if}} {{mix}}">
  <img class="logo__img" src="images/design/logo/1.png" alt="SalmonBellies">
  <div class="logo__text">
    <h2 class="logo__title">Salmonbellies AS</h2>
    <span class="logo__description">Trout is the new salmon</span>
  </div>
</a>
