<div class="mb-menu js-mb-menu">
  <div class="mb-menu__view">
    <div class="mb-menu__inner">
      {{> blocks/nav-menu
        mod="mobile"
        mix="mb-menu__nav-menu"
      }}
      {{> ui/lang-switcher
        mix="mb-menu__lang-switcher"
      }}
    </div>
  </div>
  <button class="mb-menu__toggle" type="button">
    <span></span>
  </button>
</div>
