<ul class="social {{mix}}">
  <li class="social__item">
    <a class="social__link social__link--facebook" href="#"></a>
  </li>
  <li class="social__item">
    <a class="social__link social__link--linkedin" href="#"></a>
  </li>
</ul>
