.header {
  background: url("../images/design/header-bg/1.jpg") no-repeat center / cover;

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 800px;
    padding-bottom: 157px;

    @include laptop {
      height: 700px;
    }

    @include tablet {
      height: 500px;
      padding-bottom: 90px;
    }

    @include mobile-l {
      height: 60vh;
      min-height: 450px;
      max-height: 510px;
      padding-bottom: 80px;
    }

    @include mobile-s {
      padding-bottom: 50px;
    }
  }

  &__group {
    width: 100%;
  }

  &__top {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 34px 0;
    margin-bottom: 84px;

    @include tablet-and-phone {
      display: none;
    }
  }

  &__lang-switcher {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
  }

  &__logo {
    @include tablet-and-phone {
      margin-top: 30px;
    }
  }

  &__slogans {
    width: 100%;
    max-width: 798px;
  }

  &__slogan {
    display: none;
    font-size: 24px;
    @include medium;
    line-height: 38px;
    text-align: center;
    color: $main-color;
    opacity: 0;
    transition: opacity .4s ease;

    @include tablet {
      font-size: 22px;
      line-height: 36px;
    }

    @include mobile-l {
      font-size: 18px;
      line-height: 32px;
    }

    &.active {
      opacity: 1;
    }
  }
}
