<footer class="footer page__footer">
  <div class="container">
    <div class="footer__inner">
      <div class="footer__group footer__group--logos">
        {{> blocks/logo
          mod="horizontal"
          mix="footer__logo"
        }}
        <a class="footer__dev" href="#">
          <img class="footer__dev-img" src="images/design/dev/1.png" alt="Kosher per demand">
          <span class="footer__dev-text">Kosher per <span>demand</span></span>
        </a>
      </div>
      <div class="footer__group footer__group--social">
        {{> blocks/social
          mix="footer__social"
        }}
        <span class="footer__copyright">Copyright SalmonBellies.no 2019, All Rights Reserved</span>
      </div>
    </div>
  </div>
</footer>
