// Container Width
$desktopWidth: 1170px;
$laptopWidth: 960px;
$tabletWidth: 720px;
$mobileWidth: 540px;

// Media breakpoint
$laptopMedia: 1199px;
$tabletMedia: 991px;
$mobileMedia: 767px;

// Container gutter
$gutter: 15px;

// Colors
$main-color: #00519C;

// Fonts
$fonts_dir: '../fonts/';
$thin: 100;
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$black: 800;

