.lang-switcher {
  &__toggle {
    position: relative;
    display: inline-block;
    vertical-align: top;
    padding-right: 22px;
    cursor: pointer;

    @include laptop {
      padding-right: 16px;
    }

    &:after {
      content: "";
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      width: 12px;
      height: 8px;
      background: url("../images/design/icons/arrow.png") no-repeat center / contain;

      @include laptop {
        width: 10px;
      }
    }
  }

  &__icon {
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    @include laptop {
      width: 24px;
      height: 24px;
    }

    &--uk {
      background-image: url('../images/design/langs/uk.png');
    }
  }
}
